.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 32px;
    margin: 16px;
    text-align: center;
}

.item-card img {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 350px;
    border-radius: 8px;
}

.img {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 350px;
    border-radius: 8px;
}
