.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.top-header .logo {
    width: 25rem;
}

.search-bar{
    width: auto;
    height: 2.5rem;
    display: flex;
}

.search-bar img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.search-bar button {
    height: 100%;
    padding: 0.5rem 0.75rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
}
