#top-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.12rem solid #ccc;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #2cc4b2;
}

ul {
    list-style: none;
    margin: 0 15em 0 15em;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 20px;
    font-weight: 500;
}

.basket {
    display: inline-block;
    background-color: #2cc4b2;
    color: #fff;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 2px;
}

.basket:hover {
    color: white;
    background-color: #226e62;
}
