#top-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.12rem solid #ccc;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    padding: 0 10%;
    max-width: 960rem;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

#top-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #2cc4b2;
}

li {
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}

.basket {
    display: inline-block;
    background-color: #2cc4b2;
    color: #fff;
    text-decoration: none;
    padding: 1.3rem 1rem;
    border-radius: 2px;

}

.basket:hover {
    color: white;
    background-color: #226e62;
}

.input-bar {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.input-bar input {
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #2cc4b2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-bar input:focus {
    outline: 1px solid #2cc4b2;
}
