.basket-block {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 10rem;
    box-sizing: border-box;



    width: 100%;
    max-width: 960rem;
}

.basket-block:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.basket-image img {
    width: 100px;
    height: 100px;
    max-width: 800px;
    max-height: 800px;
    text-align: left;
    position: relative;
    left: 0;
}
