#login {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-form {
    background-color: white;
    padding: 5em 15em 5em 15em;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.login-input {
    background-color: #f8f8f8;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.login-input:focus {
    border: 3px solid #2cc4b2;
    background-color: white;
}

.input-group {
    display: block;
    margin-bottom: 1.25rem;
}

.forgot-link{
    margin-top:1rem;
    text-align:center;
    color:#2cc4b2;
    text-decoration:none;
}
.forgot-link:hover{text-decoration:underline;}
